<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

<system.serviceModel>

    <services>

      <service name="Baterija.ShesToBatteryCommands">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:15002/ShesToBatteryCommands" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <endpoint address="net.tcp://localhost:15002/ShesToBatteryCommands" binding="netTcpBinding"
                  contract="KomponenteUgovori.IShesToBatteryCommands"/>
      </service>

    </services>
    
    
  <client>
    <endpoint name="BatteryToShesCommands"
    address="net.tcp://localhost:15001/BatteryToShesCommands"
    binding="netTcpBinding"
    contract="KomponenteUgovori.IBatteryToShesCommands" />


  </client>
  </system.serviceModel>



</configuration>