<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>


  <system.serviceModel>
    <services>
      <service name="SHES.BatteryToShesCommands">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:15001/BateryToShesCommands" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <endpoint address="net.tcp://localhost:15001/BatteryToShesCommands" binding="netTcpBinding"
                  contract="KomponenteUgovori.IBatteryToShesCommands"/>
      </service>

      <service name="SHES.ImplementacijaPotrosaca">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:15000/ImplementacijaPotrosaca" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <endpoint address="net.tcp://localhost:15000/ImplementacijaPotrosaca" binding="netTcpBinding"
       contract="KomponenteUgovori.IPotrosac" />
      </service>
      
      <service name="SHES.ImplementacijaSolarniPanel">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:15010/ImplementacijaSolarniPanel" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <endpoint address="net.tcp://localhost:15010/ImplementacijaSolarniPanel" binding="netTcpBinding"
       contract="KomponenteUgovori.ISolarniPanel" />
      </service>

      <service name="SHES.ImplementacijaPunjaca">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:15010/ImplementacijaPunjaca" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <endpoint address="net.tcp://localhost:15010/ImplementacijaPunjaca" binding="netTcpBinding"
       contract="KomponenteUgovori.IPunjac" />
      </service>


    </services>

    <client>
      <endpoint name="ShesToBatteryCommands"
      address="net.tcp://localhost:15002/ShesToBatteryCommands"
      binding="netTcpBinding"
      contract="KomponenteUgovori.IShesToBatteryCommands" />


      <endpoint name="ImplementacijaElekDis"
      address="net.tcp://localhost:14004/ImplementacijaElekDis"
      binding="netTcpBinding"
      contract="KomponenteUgovori.IElekDistribucija" />
    </client>

   
    
  </system.serviceModel>

  <appSettings>
    <!--KOLIKO CE MINUTA BITI JEDAN SEKUND U STVARNOM ZIVOTU-->
    <add key="minuta" value="60"/>
  </appSettings>

  <connectionStrings>
    <add name="Default" connectionString="Data Source=.\DataBase.db;Version=3;" providerName="System.Data.SqlClient"/>
  </connectionStrings>



</configuration>