<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>


  <system.serviceModel>
    <services>

      <service name="SHES.ImplementacijaPotrosaca">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:15000/ImplementacijaPotrosaca" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <endpoint address="net.tcp://localhost:15000/ImplementacijaPotrosaca" binding="netTcpBinding"
       contract="KomponenteUgovori.IPotrosac" />
      </service>
      
      <service name="SHES.ImplementacijaSolarniPanel">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:15010/ImplementacijaSolarniPanel" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <endpoint address="net.tcp://localhost:15010/ImplementacijaSolarniPanel" binding="netTcpBinding"
       contract="KomponenteUgovori.ISolarniPanel" />
      </service>

      <service name="SHES.ImplementacijaPunjaca">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:15010/ImplementacijaPunjaca" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <endpoint address="net.tcp://localhost:15010/ImplementacijaPunjaca" binding="netTcpBinding"
       contract="KomponenteUgovori.IPunjac" />
      </service>


    </services>
  </system.serviceModel>



</configuration>